<div class="main-about">
  <p class="main-about-p"><span class="about">0.1</span> About Me </p>
  <div class="main-about-details">
    <div class="details">
      <p>
        Hey there! I'm Shashank Tiwari, a passionate full stack developer with a
        heart for frontend innovation. My journey into the world of coding began
        with a fascination for crafting seamless user experiences through HTML
        and CSS. Over time, I've honed my skills in Angular, allowing me to
        create dynamic and responsive web applications that captivate users.
      </p>
      <H6 style="color: #64ffda">What Drives Me?</H6>
      <p>
        I thrive on the creativity and precision demanded by frontend
        development. It's the perfect canvas for me to blend design aesthetics
        with functionality, resulting in visually stunning and user-friendly
        interfaces. I believe in the power of intuitive design to enhance user
        engagement and elevate digital experiences.
      </p>
      <p>Here are a few technologies I have been working with recently :</p>
      <div class="main-technologies">
        <div class="technologies">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="8"
            fill="#64ffda"
            class="bi bi-caret-right-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
            />
          </svg>
          <p class="techstack">Angular js</p>
        </div>
        <div class="technologies">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="8"
            fill="#64ffda"
            class="bi bi-caret-right-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
            />
          </svg>
          <p class="techstack">HTML</p>
        </div>
        <div class="technologies">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="8"
            fill="#64ffda"
            class="bi bi-caret-right-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
            />
          </svg>
          <p class="techstack">CSS</p>
        </div>
        <div class="technologies">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="8"
            fill="#64ffda"
            class="bi bi-caret-right-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
            />
          </svg>
          <p class="techstack">Spring boot</p>
        </div>
        <div class="technologies">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="8"
            fill="#64ffda"
            class="bi bi-caret-right-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
            />
          </svg>
          <p class="techstack">React Js</p>
        </div>
        <div class="technologies">
          <svg
            xmlns="http://www.w3.org/2000/svg"

            width="8"
            height="8"
            fill="#64ffda"
            class="bi bi-caret-right-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
            />
          </svg>
          <p class="techstack">JavaScript</p>
        </div>
      </div>
    </div>
    <div class="photo">
      <img src="assets\images\me.jpeg" style="height: 387px; width: 381px;margin-left: 10px;  border-radius: 50%;"  alt="Example Image">
    </div>
  </div>
</div>
