<div class="main-project">
  <p class="main-work-p"><span class="work">0.3</span>Some Things I’ve Built</p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="https://miro.medium.com/max/940/1*45obi6lIPEGUefPLw3Pk-g.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Java Basic Code</h5>
          <p class="card-text">
            I've created various Java projects during my learning journey, encompassing Spring Boot, MySQL, and code ranging from beginner to advanced levels
          </p>
          <!-- <button type="button" class="btn btn-outline-secondary"> -->
            <a class="btn-outline-secondary" href="https://github.com/shashankTiwari9693/Dell_Full_Stack_Traning/tree/main">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#8b95b3"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
           
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8"
              />
            </svg>
          </a>
          <!-- </button> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://miro.medium.com/max/940/1*45obi6lIPEGUefPLw3Pk-g.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">E-commerce Website</h5>
          <p class="card-text">The e-commerce site provides a seamless shopping experience with user-friendly features like easy registration, browsing, and checkout. Admin capabilities allow efficient product management for an up-to-date inventory.</p>
          <!-- <button type="button" class="btn btn-outline-secondary"> -->
            <a class="btn-outline-secondary" href="https://github.com/shashankTiwari9693/Ecommerce">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#8b95b3"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8"
              />
            </svg>
          </a>
          <!-- </button> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://miro.medium.com/max/940/1*45obi6lIPEGUefPLw3Pk-g.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">E-comm Backend</h5>
          <p class="card-text">
            The e-commerce backend powers the online store's operations, handling tasks such as order processing, inventory management, and database functions to ensure seamless functionality.
          </p>
          <!-- <button type="button" class="btn btn-outline-secondary"> -->
            <a class="btn-outline-secondary" href="https://github.com/shashankTiwari9693/Ecommerce-BackeEnd">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#8b95b3"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8"
              />
            </svg>
          </a>
          <!-- </button> -->
        </div>
      </div>
    </div>
   
    <div class="col">
      <div class="card h-100">
        <img
          src="https://miro.medium.com/max/940/1*45obi6lIPEGUefPLw3Pk-g.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Angular Routing</h5>
          <p class="card-text">
            Angular Routing project enables seamless navigation between different components in a web application, enhancing user experience by dynamically updating content based on URL changes, all within a single-page application paradigm.
          </p>
          <!-- <button type="button" class="btn btn-outline-secondary"> -->
            <a class="btn-outline-secondary" href="https://github.com/shashankTiwari9693/Angular-Routing">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#8b95b3"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8"
              />
            </svg>
          </a>
          <!-- </button> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://miro.medium.com/max/940/1*45obi6lIPEGUefPLw3Pk-g.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">JWT FullStack </h5>
          <p class="card-text">
            A JWT (JSON Web Token) project implements secure user authentication and authorization by generating and validating tokens, enhancing web application security through a stateless and standardized approach.
          </p>
          <!-- <button type="button" class="btn btn-outline-secondary"> -->
            <a class="btn-outline-secondary" href="https://github.com/shashankTiwari9693/JWT-FullStack-Project">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#8b95b3"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8"
              />
            </svg>
          </a>
          <!-- </button> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://miro.medium.com/max/940/1*45obi6lIPEGUefPLw3Pk-g.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">PortFolio</h5>
          <p class="card-text">
            A portfolio website showcases an individual's skills and work, providing a concise and visually appealing overview to highlight achievements and expertise for professional or personal purposes.
          </p>
          <!-- <button type="button" class="btn btn-outline-secondary"> -->
            <a class="btn-outline-secondary" href="https://github.com/shashankTiwari9693/Shashank_PortFolio">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#8b95b3"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8"
              />
            </svg>
          </a>
          <!-- </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
