<div class="main-work">
  <p class="main-work-p"><span class="work">0.2</span>Where I’ve Worked</p>

  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h4 style="margin-left: 1.2rem; color: #ccd6f6">Latest News</h4>
        <ul class="timeline-3">
          <li>
            <a href="#!" class="float-end1">Senior Analyst at EY India </a>
            <a href="#!" class="float-end">24 july, 2023</a>
            <p class="mt-2">
              Angular js HTML CSS Spring boot React Js JavaScript
            </p>
          </li>
          <li>
            <a href="#!" class="float-end1"
              >Intern at HRC</a
            >
            <a href="#!" class="float-end">Jun 2022 - Feb 2023</a>
            <p class="mt-2">
              React.js, Redux.js (Saga), Axios, Web Services API, Voice over IP
              (VoIP), Session Initiation Protocol (SIP), Peer Testing, Git,
              Jira, PuTTY
            </p>
          </li>
          <li>
            <a href="#!" class="float-end1">Myperfectice</a>
            <a href="#!" class="float-end">April 22 - Oct 2022</a>
            <p class="mt-2">
              Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla
              odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec
              tempor nibh...
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
